body {
    background: #0a0a0a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

h1 {
    color: #00ff66;
    font-size: 55px;
}

p {
    color: #cccccc;
    font-size: 22px;
}
