body {
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 120px;
}

h1 {
    color: #00ff66;
    font-size: 70px;
}

h1 {
    color: #00ff66;
    font-size: 42px;
}

p {
    font-size: 16px;
    line-height: 1.9;
    max-width: 750px;
    margin: auto;
}
}

/* Start Reading Button */
.start-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 40px;
    background-color: #00ff66;
    color: black;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.3s;
}
.start-btn:hover {
    background-color: #00cc55;
    transform: scale(1.05);
}

/* Chapter Button */
.chapter-btn {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    background-color: #00ff66;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

.chapter-btn:hover {
    background-color: #00cc55;
    transform: scale(1.05);
}

/* Back Button */
.back-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 25px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #666;
    transform: scale(1.05);
}
.locked-btn {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    background-color: #555555;
    color: #bbbbbb;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: not-allowed;
}
.chapter-number {
    color: #00ff66;
    font-size: 40px;
    margin-bottom: 10px;
}

.chapter-name {
    color: #00ff66;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 50px;
}
.story-text {
    max-width: 800px;
    margin: auto;
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
}
