<!DOCTYPE html>
<html>
<head>
    <title>MyStories</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="card">

    <h1>📚 MyStories</h1>

    <p class="quote">
        "Every world begins with a story."
    </p>

    <h3>Enter your traveler name</h3>

    <input type="text" placeholder="shreyash">

    <br>

    <button onclick="window.location.href='/elements'">
        Enter World
    </button>

</div>

</body>
</html>